:root{
	--background : #D9BBA0;
	--cor1: #F22E2E;
	--cor2: #D95252;
	--corSombra: #A61F1F;
	--corFonte:#0D0D0D;
}

*{
    margin: 0px;
    padding: 0px;
}

@font-face {
    src: url(fonts/KaiseiTokumin-Regular.ttf);
    font-family: 'Kaisei Tokumin', serif;
}

body{
    background-color: var(--background);
    font-family: 'Kaisei Tokumin', serif;
}

/*
# Barra pesquisa, menu carrinho e login
*/

.cabecalhoPagina{
    background-color: var(--cor1);
    padding-bottom: 1%;

}

.pesquisaInput{
    width: 40%;
    height: 5%;
    margin: 10px;
    padding-left: 5px;
    font-size: 18px;
    background-color: var(--background);
    margin-left: 15%;
    border-radius: 5px;
}
.fi-rr-search{
text-decoration: none;
    font-size: 20px;
    color: var(--corFonte);
}

#iconeBarraPesquisa{
    margin-top: 2.8125rem;
    margin-right: 1.875rem;
    text-decoration: none;
    color: black;
    font-size: 33px;
    float: inline-end;
}

.logoSupermercado{
    width: 13%;
    float: left;
    position: relative;
}

.header{
    position: relative;
    width: 100%;
    align-tracks: right;
}

.menuDropdown{
    position: relative;
}

.fi-rr-menu-burger{
    margin: 5px;
}

.menu ul{
    list-style-type: none;
    padding: 15px;
    margin: 0;
    margin-top: 15px;
    text-align: left;
}

.menu ul li{
    display: inline;
    position: relative;
}

.menu ul li a{
    color: black;
    text-decoration: none;
    padding: 15px;
    transition: background .500s;

}

.menu ul li a:hover{
    background-color: var(--corSombra);
    color: var(--background);
    text-decoration: none;
}

.menu ul ul{
    display: none;
    position: absolute;
    left: 0;
}

.menu ul li:hover ul{
    display: flex;
    margin: 0px;
}

.menu ul ul li{
    display: flex;
}

.menu ul ul li a{
    display: block;
    background-color: var(--cor1);
    text-align: center;
}
