:root{
	--background : #E9E9E9;
	--cor1: #F22E2E;
	--cor2: #D95252;
	--corSombra: #A61F1F;
	--corFonte:#0D0D0D;
}

*{
    margin: 0px;
    padding: 0px;
}

@font-face {
    src: url(fonts/KaiseiTokumin-Regular.ttf);
    font-family: 'Kaisei Tokumin', serif;
}

body{
    background-color: var(--background);
    font-family: 'Kaisei Tokumin', serif;
    font-size: 15px;
    font-weight: 300;
}

/* !Barra pesquisa, menu carrinho e login */
    .cabecalhoPagina{
        background-color: var(--cor1);
        padding-bottom: 1%;
    }

    .pesquisaInput{
        width: 40%;
        height: 5%;
        border: none;
        margin: .625rem;
        padding-left: .625rem;
        font-size: 1.125rem;
        margin-left: 15%;
        border-radius: .3125rem;
    }
    .fi-rr-search{
        text-decoration: none;
        font-size: 20px;
        color: var(--corFonte);
    }

    #iconeBarraPesquisa{
        margin-top: 2.8125rem;
        margin-right: 1.875rem;
        text-decoration: none;
        color: black;
        font-size: 33px;
        float: inline-end;
    }
    #iconeBarraPesquisa:hover{
        color:white;
    }

    .logoSupermercado{
        width: 13%;
        float: left;
        position: relative;
    }

    .header{
        position: relative;
        width: 100%;
        align-tracks: right;
    }

    .menuDropdown{
        position: relative;
    }

    .fi-rr-menu-burger{
        margin: 5px;
    }

    .menu ul{
        list-style-type: none;
        padding: 15px;
        margin: 0;
        margin-top: 15px;
        text-align: left;
        text-shadow: 2px 2px 2px var(--corSombra);
    }

    .menu ul li{
        display: inline;
        position: relative;
    }

    .menu ul li a{
        color: white;
        text-decoration: none;
        padding: 15px;
        transition: background .500s;
    }

    .menu ul li a:hover{
        color: var(--corFonte);
        text-decoration: none;
    }

    .menu ul ul{
        display: none;
        left: 0;
        position: absolute;
    }

    .menu ul li:hover ul{
        display: block;
        margin: 0px;

    }

    .menu ul ul li{
        background-color: #F22E2E;
        padding-right: 20px;
        display: flex;
        box-shadow: .1875rem .1875rem .1875rem var(--corFonte);
    }

    .menu ul ul li a{
        display: block;
        background-color: var(--cor1);
        text-align: center;
    }
/* !Fim  barra de pesquisa, cabeçalho, icones */

/* !Fale conosco */
    .faleConosco{
        width: 43.5rem;
        background-color: #F22E2E;
        margin: 3.75rem;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        padding: 1.25rem;
        padding-left: 4.75rem;
        padding-right: 4.75rem;
        box-shadow: .1875rem .1875rem .1875rem var(--corFonte);
        border-radius: .3125rem;
    }

    .faleConosco h2{
        margin-bottom: .8125rem;
        text-align: center;
        color:white;
        text-shadow:2px 2px 2px var(--corSombra);
    }

    #caixaTexto{
        margin: .625rem;
        border: none;
        border-radius: .3125rem;
        height: 1.875rem;
        padding-left: .4375rem;
        box-shadow: 3px 3px 3px var(--corSombra);
    }

    #botaoEnviar{
        border: none;
        height: 1.875rem;
        width: 3.125rem;
        border-radius: .3125rem;
        box-shadow: 3px 3px 3px var(--corSombra);
        
    }
    #botaoEnviar:hover{
        background-color: rgb(196, 196, 196);
    }

    .inputEmail{
        width: 18.75rem;
    }

    .inputNome{
        width: 15.625rem;
    }
/* !Fim Fale conosco */