:root{
	--background : #E9E9E9;
	--cor1: #F22E2E;
	--cor2: #D95252;
	--corSombra: #A61F1F;
	--corFonte:#0D0D0D;
}

*{
	margin: 0;
	padding: 0;
	background: var(--background);	
	background-size: 100%;
	background-position: bottom;
	background-repeat: repeat-x;
	background-attachment: fixed;
}

#emailLogin, #senhaLogin, #botaoLogin, #botaoRegistro, #logo{
	box-shadow: 3px 3px 3px var(--corFonte);
}

.logoSup{
	width: 180px;
	background-color: var(--cor1);
}


#tituloLogin{
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	color: var(--corFonte);
}

.fi-rr-lock{
	background-color: var(--cor1);
}

.caixaLogin{
	width: 300px;
	padding: 40px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background:var(--cor1);
	text-align: center;
	border-radius: 10px;
	box-shadow: 5px 5px 5px var(--corFonte);
}

.caixaLogin h2{
	color: #1E2019;
	font-weight: 500;
	background: none;
}

.caixaLogin #emailLogin, .caixaLogin #senhaLogin{
	border: 0; 
	background: white;
	display: block;
	margin: 20px auto;
	text-align:center;
	border: 2px solid #251605;
	padding: 10px 10px;
	width:200px;
	outline: none;
	color: #251605;
	border-radius: 11px;
	transition: 0.25s;
		
}

.caixaLogin #emailLogin:focus, .caixaLogin #senhaLogin:focus{
	width:210px;
	border-color: #C2DB5E;
}

.caixaLogin #botaoLogin, #botaoRegistro{
	border: 0; 
	background: white;
	display: block;
	margin: 20px auto;
	text-align:center;
	padding: 10px 10px;
	width:100px;
	color: #251605;
	border-radius: 11px;
	transition: 0.25s;
}

.caixaLogin #botaoLogin:hover, #botaoRegistro:hover{
	background: var(--corSombra);
}

#logo{
	margin: 5px;
	background: white;
	padding: 3px;
	border-radius: 10px;
}

#linkLogo{
	background: none;
}


.logoFB{
	width: 12%;
	height: auto;	
}

.logoGoogle{
	width: 13%;
	height: auto;
}