:root{
    --corBackground: #ffff;
}

.menu ul{
    background-color: #a1a1a1;
    display: inline;
    text-decoration-line: none;
    position: absolute;
}

.menu ul li{
    display: inline;
}

.menu ul ul {
    display: none;
}

.menu ul li:hover ul{
    display: block;
    position: absolute;
}

.menu ul ul ul li{
    display: none;
}

.menu ul ul li:hover ul li{
    display: block;
}